@tailwind base;
@tailwind components;
@tailwind utilities;

.easy-button {
    padding: 8px 16px;
    background-color: #467EF7;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 40px;
}

.easy-button:hover {
    background-color: #1E40AF;
}

/* スタイルの共通化 */
.btn {
    @apply font-bold py-2 px-4 rounded ml-8;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}